@mixin customCheckbox {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 2px;
  content: "";
}

@mixin checkmarkBg {
  background-image: url(../static/checkmark.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
