@use 'sass:math';
@use 'mixins';

$appWidth: 1400px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  font-size: 16px;
}

.App {
  max-width: $appWidth;
  margin: 0 auto;
}

.row {
  flex: 1;
  padding: 1rem 0;
}

.ghostList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.ghost {
  flex: 1;
  border: 1px solid #ccc;
  padding: 0.8rem;
  min-width: math.div($appWidth, 8);
  max-width: math.div($appWidth, 8);
  opacity: 0.25;

  .ghostName {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.1rem 0 0.4rem 0;
  }

  &.noActiveEvidence,
  &.show {
    opacity: 1;
    border: 1px solid #666;
  }

  .ghostEvidence {
    padding: 0.1rem 0;
  }

  &.show .ghostEvidence {
    &.disabled {
      background: rgba($color: #f00, $alpha: 0.4);
      opacity: 0.4;
    }
    &.possible {
      // color: rgb(0, 44, 189);
      background: rgba($color: rgb(255, 251, 0), $alpha: 0.4);
    }
    &.isRemainingFilter {
      background: rgba($color: #f1ff28, $alpha: 0.4);
    }
  }
}

.labelWithCB {
  label {
    font-size: 1rem;
    line-height: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    border-radius: 2px;

    &:hover {
      background-color: rgba(0, 0, 255, 0.2);
    }

    span {
      font-size: 1rem;
      line-height: 0.8rem;
    }

    input[type="checkbox"] {
      margin: 0 0.2rem;
      width: 1rem;
      height: 1rem;

      &:not(:checked):after {
        @include mixins.customCheckbox;
      }

      &:checked:after {
        @include mixins.customCheckbox;
        @include mixins.checkmarkBg;
        background-color: #0275ff;
      }

      &:disabled:after {
        @include mixins.customCheckbox;
        background-color: #fff;
      }

      &:disabled:checked:after {
        @include mixins.customCheckbox;
        @include mixins.checkmarkBg;
        background-color: #ccc;
      }
    }
  }
}

.greenBg {
  background: rgba($color: rgb(255, 251, 0), $alpha: 0.4);
}

.redBg {
  background: rgba($color: #f00, $alpha: 0.4);
}

.filter {
  .columns {
    display: flex;
    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin: 0 1rem 0 0;
      padding: 1rem;
    }

    .evidenceNotPossible {
      // @extend .redBg;
    }
  }
}

.help {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;

  > :first-child {
    flex: 1;
  }
}

.border {
  border: 1px solid #ccc;
  padding: 1rem;
}

button {
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
}

input,
button,
label {
  cursor: pointer;
}

h1 {
  display: flex;

  a:last-child {
    align-self: flex-end;
    margin-left: auto;
  }
}

h1,
h2 {
  margin: 0.4rem 0 1rem 0;
}

h3 {
  margin: 0.1rem 0 0.5rem 0;
}

.githubMark {
  background: #fff;
}
