.ghostFilter {
  .columns {
    display: flex;

    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin: 0 1rem 0 0;
      padding: 1rem;
    }

    .evidenceNotPossible {
      opacity: 1;
    }
  }
}

.help {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;

  > :first-child {
    flex: 1;
  }
}

.center {
  text-align: center;
}

.border {
  border: 1px solid #ccc;
  padding: 1rem;
}

.greenBg {
  background: rgba($color: #0f0, $alpha: 0.4);
}

.greenWord {
  background: rgba($color: #0f0, $alpha: 0.4);
  padding: 0 0.4rem;
  border-radius: 0.1rem;
}

.redBg {
  background: rgba($color: #f00, $alpha: 0.4);
}
