@use 'sass:math';
@use 'variables';

.ghost {
  flex: 1;
  border: 1px solid #ccc;
  padding: 0.8rem;
  min-width: math.div(variables.$appWidth, 8);
  max-width: math.div(variables.$appWidth, 8);
  opacity: 0.25;
  transition: opacity variables.$transitionSpeed linear;

  .ghostName {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.1rem 0 0.4rem 0;
  }

  &.noActiveEvidence,
  &.show {
    opacity: 1;
    border: 1px solid #666;
  }

  .ghostEvidence {
    padding: 0.1rem 0;
  }

  &.show .ghostEvidence {
    // &.disabled {
    //   background: rgba($color: #f00, $alpha: 0.4);
    //   opacity: 0.4;
    // }
    // &.possible {
    //   background: rgba($color: #0f0, $alpha: 0.4);
    // }
    &.isRemainingFilter {
      background: rgba($color: #0f0, $alpha: 0.4);
    }
  }
}
