@use "reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  fill: #aaa;
}

.show {
  @apply opacity-100;
}

.dark {
  background-color: #000;
  color: #ccc;
}

.light {
  background-color: #fff;
  color: #000;
}
