@use "reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  fill: #aaa;
}

.dark {
  background-color: #000;
  color: #ccc;
}

.light {
  background-color: #fff;
  color: #000;
}

h3 {
  @apply font-semibold;
}
