@use "../styles/variables";

.App {
  min-height: 100vh;

  transition: color variables.$transitionSpeed linear, background-color variables.$transitionSpeed linear;
}

#appContent {
  max-width: variables.$appWidth;
  margin: 0 auto;
}
