@use "../styles/variables";

.darkModeToggle {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity variables.$transitionSpeed linear;

    &.show {
      opacity: 1;
    }

    img,
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
