@use "sass:math";
@use "../styles/variables";

.ghost {
  transition: border-color, background-color, opacity variables.$transitionSpeed linear;

  &.show {
    opacity: 1;
  }

  &.show {
    .isRemainingFilter {
      @apply rounded-sm;
      @apply border-orange-400;
      border: 1px solid gold;
    }
  }

  // .isFakeEvidence label > span::after {
  //   // TODO
  //   content: " *";
  //   color: gold;
  // }
}
