* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  font-size: 16px;
}

.App {
  /* display: flex; */
  width: 1200px;
  margin: 0 auto;
}

.App > * {
  flex: 1;
}

.ghosts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.ghost {
  width: 13%;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 165px;
}

.filterRow {
  height: 400px;
}

.filter {
  display: flex;
  flex-direction: row;
}

.filter > * {
  padding: 1rem;
  border: 1px solid #ccc;
  height: 100%;
}

button {
  font-size: calc(10px + 2vmin);
}

input,
button,
label {
  cursor: pointer;
}

input[type="checkbox"] {
  margin: 0 0.2rem;
}
